// Styles
@use './styles/config' as config;
@use './styles/box';
@use './styles/input';
@use './styles/foo';
@use './styles/orders';




// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');





// Code
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: config.$body-bg;
    font-family: Poppins;
}

.main{
    margin: config.$margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .half-cont{
        width: 50%;
    }
}




.header-path{
    margin: 20px 15%;
    font-size: 14px;
    font-weight: 600;
    color: config.$header-path-color;

    span{
        color: black;
    }
}
