$body-bg : #d9d9d9;
$box-shadow : rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$input-border : 2px solid #8c8c8ccb;
$header-path-color : #44464a;
$margin : 0 15%;
$box-padding : 25px;
$input-padding : 10px ;
